{% extends "base.html" %}

{% block main %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">

                {% if pet.verified %}
                <h3 class="title is-size-3">
                    <i class="fas fa-check-circle has-text-success" aria-hidden="true"></i> Verified: {{ pet.verified }}
                </h2>
                {% else %}
                <h3 class="title is-size-3">
                    <i class="fas fa-times-circle has-text-danger" aria-hidden="true"></i> Verified: {{ pet.verified }}
                </h3>
                <p>Bear with us - we need to verify that the image is actually a pet and not anything unsavory!</p>
                {% endif %}

                <h3 class="subtitle is-size-3"><i class="fas fa-chart-line has-text-link" aria-hidden="True"></i> Rank: {{ pet.ranking.0 }} of {{ pet.ranking.1 }}</h3>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="card">
                    <div class="card-image ">
                        <figure class="image">
                            <img src="{{ pet.mediafile.url }}">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card-content">
                    <div id="eloChart"></div>
                    <div id="eloTimeChart"></div>
                    <div id="rankChart"></div>
                    <div id="rankTimeChart"></div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script>
        var residueChart = Highcharts.chart("eloChart", {
            chart: {
                plotBorderWidth: 1,
                marginLeft: 70,
                zoomType: "x"
            },
            title: {
                text: "Rating Changes"
            },
            credits: {
                enabled: false
            },
            series: [{
                name: "ELO Rating",
                data: {{ data }},
                type: "line",
                marker: {
                    enabled: false
                },
                color: "#00d1b2"
            }],
            xAxis: {
                title: {
                    enabled: true,
                    text:"Contest"
                },
            },
            yAxis: {
                title: {
                    enabled: true,
                    text:"Rating"
                },
            },
            legend: {
                enabled: false
            }
        });
    </script>

    <script>
        var residueChart = Highcharts.chart("eloTimeChart", {
            chart: {
                plotBorderWidth: 1,
                marginLeft: 70,
                zoomType: "x"
            },
            title: {
                text: "Rating over Time"
            },
            credits: {
                enabled: false
            },
            series: [{
                name: "ELO Rating",
                data: {{ time_data }},
                type: "line",
                marker: {
                    enabled: false
                },
                color: "#00d1b2"
            }],
            xAxis: {
                type: "datetime",
                title: {
                    enabled: true,
                    text:"Time"
                },
            },
            yAxis: {
                title: {
                    enabled: true,
                    text:"Rating"
                },
                reversed: false,
                allowDecimals: true,
            },
            legend: {
                enabled: false
            }
        });
    </script>

    <script>
        var residueChart = Highcharts.chart("rankChart", {
            chart: {
                plotBorderWidth: 1,
                marginLeft: 70,
                zoomType: "x"
            },
            title: {
                text: "Rank Changes"
            },
            credits: {
                enabled: false
            },
            series: [{
                name: "Rank",
                data: {{ rank_data }},
                type: "line",
                marker: {
                    enabled: false
                },
                color: "#209cee"
            }],
            xAxis: {
                title: {
                    enabled: true,
                    text:"Contest"
                },
            },
            yAxis: {
                title: {
                    enabled: true,
                    text:"Rank"
                },
                reversed: true,
                allowDecimals: false,
                labels: {
                    formatter: function() {return this.value == 0 ? "" : this.value}
                }
            },
            legend: {
                enabled: false
            }
        });
    </script>

    <script>
        var residueChart = Highcharts.chart("rankTimeChart", {
            chart: {
                plotBorderWidth: 1,
                marginLeft: 70,
                zoomType: "x"
            },
            title: {
                text: "Rank over Time"
            },
            credits: {
                enabled: false
            },
            series: [{
                name: "Rank",
                data: {{ time_rank_data }},
                type: "line",
                marker: {
                    enabled: false
                },
                color: "#209cee"
            }],
            xAxis: {
                type: "datetime",
                title: {
                    enabled: true,
                    text:"Time"
                },
            },
            yAxis: {
                title: {
                    enabled: true,
                    text:"Rank"
                },
                reversed: true,
                allowDecimals: false,
                labels: {
                    formatter: function() {return this.value == 0 ? "" : this.value}
                }
            },
            legend: {
                enabled: false
            }
        });
    </script>

{% endblock %}
