{% extends "base.html" %}

{% block main %}

<div class="container">
    {% for list in lists %}
        <h2 class="title">{{ list.1 }}</h2>
        <table class="table is-striped is-hoverable is-fullwidth is-centered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>ELO rating</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            {% for pet in list.0 %}
                    <tr class="is-clickable" data-href="/pets/{{ pet.id }}/">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ pet.elo_rating }}</td>
                            <td>{{ pet.name }}</td>
                            <td>{{ pet.owner }}</td>
                            <td><img src="{{ pet.mediafile.url }}"></td>
                    </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        $(".is-clickable").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>

{% endblock %}
<a href="/pets/{{ pet.id }}/"></a>
