{% extends "base.html" %}

{% block main %}
<section class="hero is-primary">
    <div class="tabs is-primary is-centered is-medium">
        <ul>
            <li>
                <div class="control has-icons-left is-primary">
                    <div class="select">
                        <select id="speciesSelect">
                            <option {% if species == 'PUSS' %}selected{% endif %}>Cat</option>
                            <option {% if species == 'DOGGO' %}selected{% endif %}>Dog</option>
                        </select>
                    </div>
                    <span class="icon is-left">
                        <i class="fas fa-paw"></i>
                    </span>
                </div>
            </li>
            <li>
                <div class="field">
                    <div class="file is-primary">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Upload your own picture
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="hero is-info is-centered">
    <div class="hero-body">
        <div class="columns">
            {% for pet in pets %}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <form method="POST">
                            <input type="hidden" name="winner" value={{ pet.id }}>
                            {% for pet2 in pets %}
                                {% if pet.id != pet2.id %}
                                    <input type="hidden" name="loser" value={{ pet2.id }}>
                                {% endif %}
                            {% endfor %}
                            {% csrf_token %}
                            <figure class="image is-4by3">
                                <img src="{{ pet.url }}" alt="Placeholder image" onclick="$(this).parent().parent().submit()">
                            </figure>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}
