{% extends "base.html" %}

{% block main %}
<section class="hero is-primary">
    <div class="tabs is-primary is-centered is-large">
        <ul>
            <li>
                <div class="control has-icons-left">
                    <div class="select">
                        <select id="speciesSelect" class="is-primary is-outlined is-small">
                            <option {% if species == 'Cat' %}selected{% endif %}>Cat</option>
                            <option {% if species == 'Dog' %}selected{% endif %}>Dog</option>
                            <option {% if species == 'Misc' %}selected{% endif %}>Misc</option>
                        </select>
                    </div>
                    <span class="icon is-left">
                        <i class="fas fa-paw"></i>
                    </span>
                </div>
            </li>

            <li>
                <a href="/upload/">
                    <span class="icon is-small">
                        <i class="fas fa-upload" aria-hidden="true"></i>
                    </span>
                    <span>Upload</span>
                </a>
            </li>

            <li>
                <a href="/pets/">
                    <span class="icon is-small">
                        <i class="fas fa-chart-line" aria-hidden="true"></i>
                    </span>
                    <span>Rankings</span>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="hero is-info"><a name="choices"></a>
    <div class="hero-body">
        <div><h2 class="which">Pick one</h2></div>
        <div class="columns is-mobile" style="max-width: 60rem; margin-left: auto; margin-right:auto;">
            {% for pet in pets %}
            <div class="column is-half">
                    <div class="card" >
                        <div class="card-image">
                            <form method="POST" id="{% if forloop.counter == 1%}left{% else %}right{% endif %}">
                                <input type="hidden" name="winner" value={{ pet.id }}>
                                {% for pet2 in pets %}
                                    {% if pet.id != pet2.id %}
                                        <input type="hidden" name="loser" value={{ pet2.id }}>
                                    {% endif %}
                                {% endfor %}
                                {% csrf_token %}
                                <figure class="image is-square">
                                    <img src="{{ pet.mediafile.url }}" alt="{{ species }} {{ forloop.counter}}" onclick="$(this).parent().parent().submit()">
                                </figure>
                            </form>
                        </div>
                        <div class="has-text-centered" style="padding: 10px; font-weight: bold;">
                        <p class="h1"> {{pet.name}} </p>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<script>
    $("#speciesSelect").change(function() {
        window.location.replace("/?s=" + $(this).val());
    });

    $(document).on('keydown', function(e){
        if (e.which == 37) {
            $("#left").submit();
        }
        console.log("click");

    });

    $(document).keydown(function(e){
        if (e.which == 39) {
            $("#right").submit();
        }
    });
</script>


{% endblock %}
