{% extends "base.html" %}

{% block main %}

<script>
    function requireCheckbox() {
        if ($("#myFile").val() != '') {
            return true;
        }

        else {
            document.getElementById("filename").innerHTML = "Please select a file to upload.";
            return false;
        }
    }

    function fileChecker() {

        var file = document.getElementById("myFile");
        file.onchange = function () {
            if (file.files.length > 0) {
                document.getElementById('filename').innerHTML = file.files[0].name;
            }
        };
    }

</script>
<section>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter has-text-centered">
                    <label class="label">Species</label>
                    <div class="select">
                        <select name="species" >
                            <option value="Cat">Cat</option>
                            <option value ="Dog">Dog</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter has-text-centered">
                    <div class="field">
                        <label class="label">Pet Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Enter your pet's name" autocomplete="off">
                        </div>
                        <!-- <p class="help">This is a help text</p> -->
                    </div>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter has-text-centered">
                    <div class="field">
                        <label class="label has-text-centered">Owner Name</label>
                        <div class="control">
                            <input class="input" type="text" name="owner" placeholder="Enter your own name" autocomplete="off">
                        </div>
                        <p class="help">The fields above are optional, if you don't fill in any details, they'll remain anonymous.</p>
                    </div>
                </div>
            </div>
            
            <div class="columns is-mobile">
                
            </div>

            <div class="columns is-mobile">

                <div class="column is-half is-offset-one-quarter">
                    <div class="file is-centered has-name is-boxed">
                        <label class="file-label">
                            <input class="file-input" type="file" name="file" id="myFile" onclick="fileChecker()" required>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="filename" id="filename">
                                    Choose a file…
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-centered">
                    <div class="field">
                        <div class="control has-text-centered">
                            <label class="checkbox">
                                <input type="checkbox" id="myCheck" name="check" required> I agree to the <a href="/terms" target="_blank">terms and conditions</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <p id="termswarning"></p>

            <div class="columns is-mobile">
                <div class="column is-centered">
                    <div class="control has-text-centered">
                        <button class="button is-primary has-text-centered" onclick="requireCheckbox()">Upload Pet</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
