figure img {
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

tr {
    cursor: pointer;
}

.image2 {
    background-repeat: repeat;
    display: block;
    height: 100%;
    width: 100%;
    background-position: center;
    -webkit-display: none;
}

h2.title {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
