figure img {
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

tr {
    cursor: pointer;
}

.image2 {
    background-repeat: repeat;
    display: block;
    height: 100%;
    width: 100%;
    background-position: center;
    -webkit-display: none;
}

h2.title {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

td img {
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 550px){
  .tabs ul {
    flex-direction: column;
  }

  .select {
      margin-right: 0px !important;
  }
}

.select {
    margin-right: 25px;
}

.which {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}

.tabs a {
    border-bottom-style: none;
}
.container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card{
    -webkit-box-shadow: 5px 4px 11px -1px rgba(130,130,130,1);
    -moz-box-shadow: 5px 4px 11px -1px rgba(130,130,130,1);
    box-shadow: 5px 4px 11px -1px rgba(130,130,130,1);
}

h3.help {
    font-size: 120%;
    text-align: center;

}

p.help {
    line-height: 1.7;
    margin-bottom: 20px;
    margin-top: 40px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 120%;
}

@media only screen and (max-width: 500px) {
    .table {
        font-size: 60%;
    }
}